@model List<KennUTicket.Models.Ticket>
@using KennUTicket.Extensions
@using KennUTicket.Models
@{
    ViewBag.Title = "Test APIs";
}
@Scripts.Render("~/Scripts/KennUTicketAPI.js")
<h2>Test</h2>


<h4>Test API Interactions</h4>




<div class="form-horizontal">
    <h4>Test get order</h4>
    <div class="form-group">
        @Html.Label("Enter an order number", htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextBox("orderNumber")
        </div>
    </div>

    <div class="form-group">
        <button value="Initiate Refund" onclick="get_order(orderNumber.value)" class="btn btn-default">Get Order</button>
    </div>
</div>
<div class="form-horizontal">
    <h4>Test refund process</h4>

    <div class="form-group">
        @Html.Label("Select a ticket", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model =>model.First().Title, new SelectList(Model), htmlAttributes: new { @class = "form-control", @id = "ddUsers" })
    </div>

    <div class="form-group">
        <button value="Initiate Refund" onclick="refund_order(""1234"", ""1231"")", class="btn btn-default">Initiate Refund</button>
    </div>
</div>

