@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity.Owin
@using Microsoft.Owin.Security
@using KennUTicket.Models
@using KennUTicket.DAL
@using System.Web
@{ 
    var statusMessage = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("/");
    }
    if (IsPost)
    {
        var ctx = new TicketContext();
        var userStore = new UserStore<User>(ctx);
        var manager = new UserManager<User>(userStore);
        var userName = Request["Username"] ?? "";
        var password = Request["Password"] ?? "";
        var user = manager.Find(userName, password);

        if (user != null)
        {
            var authenticationManager = HttpContext.Current.GetOwinContext().Authentication;
            var userIdentity = manager.CreateIdentity(user, DefaultAuthenticationTypes.ApplicationCookie);
            authenticationManager.SignIn(new AuthenticationProperties() { IsPersistent = true }, userIdentity);
            Response.Redirect("/");
        }
        else
        {
            statusMessage = "Invalid username or password";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>

<body>
    <div class="container">
        <form method="post" class="form-horizontal" id="login">
            <fieldset>
                <legend>Log In</legend>
                <span color="red">@statusMessage</span>
                <div class="form-group">
                    @Html.Label("Username", "Username:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-md-4 col-md-offset-2">
                        @Html.TextBox("Username", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Password", "Password:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-md-4 col-md-offset-2">
                        @Html.Password("Password", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-5">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>